@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

:root {
    --background: #fafafa;
    --foreground: #171717;

    --button-background: #171717;
    --button-background-hover: #383838;
    --button-foreground: #f5f5f5;
    --button-border: #c1c1c1;

    --button-secondary-background: #ffffff;
    --button-secondary-background-hover: #f2f2f2;
    --button-secondary-foreground: #171717;
    --button-secondary-border: #ebebeb;

    --hamburger-button-background: #fafafa;
    --hamburger-button-background-hover: #ededed;
    --hamburger-button-foreground: #171717;
    --hamburger-button-border: #ebebeb;

    --popover-background: #ffffff;
    --popover-border: #dfdfdf;
    --popover-foreground: #8b8b8b;
    --popover-foreground-title: #161616;
    --popover-element-hover: #f2f2f2;

    --honey: #eab308;

    --error: #e5484d;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-button-background: var(--button-background);
    --color-button-background-hover: var(--button-background-hover);
    --color-button-foreground: var(--button-foreground);
    --color-button-border: var(--button-border);

    --color-button-secondary-background: var(--button-secondary-background);
    --color-button-secondary-background-hover: var(--button-secondary-background-hover);
    --color-button-secondary-foreground: var(--button-secondary-foreground);
    --color-button-secondary-border: var(--button-secondary-border);

    --color-hamburger-button-background: var(--hamburger-button-background);
    --color-hamburger-button-background-hover: var(--hamburger-button-background-hover);
    --color-hamburger-button-foreground: var(--hamburger-button-foreground);
    --color-hamburger-button-border: var(--hamburger-button-border);

    --color-popover-background: var(--popover-background);
    --color-popover-border: var(--popover-border);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover-foreground-title: var(--popover-foreground-title);
    --color-popover-element-hover: var(--popover-element-hover);

    --color-honey: var(--honey);

    --color-error: var(--error);

    --font-montserrat: var(--font-montserrat-alternates);
    --font-madurai: var(--font-hind-madurai);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000;
        --foreground: #ededed;

        --button-background: #ededed;
        --button-background-hover: #cccccc;
        --button-foreground: #0a0a0a;
        --button-border: #3b3b3b;

        --button-secondary-background: #0a0a0a;
        --button-secondary-background-hover: #1f1f1f;
        --button-secondary-foreground: #ededed;
        --button-secondary-border: #2e2e2e;

        --hamburger-button-background: #000000;
        --hamburger-button-background-hover: #0f0f0f;
        --hamburger-button-foreground: #ededed;
        --hamburger-button-border: #1b1b1b;

        --popover-background: #0a0a0a;
        --popover-border: #2a2a2a;
        --popover-foreground: #828282;
        --popover-foreground-title: #ededed;
        --popover-element-hover: #1d1d1d;
    }
}

* {
    @apply font-madurai transition-all;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    @apply font-montserrat text-3xl font-semibold leading-10 tracking-tight;
}

p {
    @apply font-madurai text-lg;
}

button {
    @apply font-montserrat cursor-pointer transition-all;
}