@import "tailwindcss";

:root {
    --background: #eef3f7;
    --foreground: #171717;
    --honey: #eab308;
    --accent: #111A4A;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-honey: var(--honey);
    --color-accent: var(--accent);
    --font-montserrat: var(--font-montserrat-alternates);
    --font-madurai: var(--font-hind-madurai);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    @apply font-montserrat text-3xl font-semibold leading-10 tracking-tight;
}

p {
    @apply font-madurai text-lg;
}